<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анонимный Санта</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div id="app"></div>
    <script src="javascripts/out/libs.js"></script>
    <script src="javascripts/out/main.js"></script>
</body>
</html>